@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-slate-100 text-slate-900 dark:bg-slate-950 dark:text-slate-200;
  }

  html,
  body {
    @apply h-full;
  }

  pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }

  input[type = 'search']::-webkit-search-cancel-button{
    cursor: pointer;
    padding: 1px;
  }

  .connect-button > button {
    @apply !bg-slate-800 dark:!bg-slate-600 !text-white !py-2.5;
  }

  .connect-button > button > div {
    @apply !text-white !py-[3px];
  }
}
